In [3]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
conn = sqlite3.connect("weather_data.db")

query = """
SELECT 
  substr(Date_Time, 1, 7) AS month, 
  AVG(Temperature_C) AS avg_temp
FROM weather
GROUP BY month
ORDER BY month;

"""

df = pd.read_sql_query(query, conn)
conn.close()

DatabaseError: Execution failed on sql '
SELECT
  substr(Date_Time, 1, 7) AS month,
  AVG(Temperature_C) AS avg_temp
FROM weather
GROUP BY month
ORDER BY month;

': no such table: weather

df.head()

In [ ]:
plt.plot(df['month'], df['avg_temp'])
plt.xticks(rotation=45)
plt.title("Gjennomsnittstemperatur per måned")
plt.xlabel("Måned")
plt.ylabel("Temperatur (°C)")
plt.tight_layout()
plt.show()